<!DOCTYPE HTML>
<html>
  <head>
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body ng-app="bookMarks">
    <div id="main_wrapper" ng-controller="MainController">
      <header>
      <h1>Book Marks</h1>
        </header>
        <section id="marked">
          <ul>
            <li>
              <a target="_blank" ng-href="{{booksMarks.url}}">{{bookMarks.title}}
            </li>
            <li ng-repeat="mark in marks">
  <a ng-href="{{mark.url}}">{{mark.title}}</a>
  <span class="remove" ng-click="removeBookMark(mark.url)">remove</span>
</li>
          </ul>
        </section>
    </div>

    <script src="bower_components/jquery/jquery.min.js">
    <script src="bower_components/angular/angular.min.js">


    <script src="scripts/app.js">
    <script src="scripts/controllers/main.controller.js">
    <script src="scripts/directives/main.directive.js">
    <script src="scripts/helpers/storage.helper.js">
    <script src="scripts/services/storage.services.js">
  </body>
</html>
